# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfplan
crash.log

# Kubernetes
kubeconfig
*.kubeconfig

# Secrets
*.pem
*.key
*.crt
secrets.yaml

# IDE
.vscode/
.idea/
*.swp
*~

# OS
.DS_Store
Thumbs.db

# Go
app/sample-api

# Logs
*.log

# Env
.env
.env.*
!.env.example
